page-login {

	$colorPrimary:#e74c3c;


	 .is__Register {
	   background-image: url('https://image01.oneplus.net/user/201712/18/102/db2677f438d5cf43209db8b8dc9b14fc.jpg');
	   background-color: $colorPrimary;
	   background-position: center;
	   background-size:cover;
	   background-repeat: no-repeat;

	   .is__Header {
	     box-shadow: none!important;
	     text-align: center;
	     box-shadow: none;
	     margin-top: 15%;
	     h1 {
	       color: white;
	       font-size: 40px;
	     }
	     p {
	       color: white;
	       font-weight: 400;
	       font-size: 14px;
	       margin: 0;
	     }

	     &:after {
	       display: none!important;
	     }

	   }
	
	   .ion-item-block {
	   	background: transparent!important;
		   	.label {
		   		color: white;
		   	}
		   	input {
		   		color: white;
		   	}
		   	.submit {
		   		background: #fbc531;
		   		height: 50px;

		   	}
	   }
		
	   .is__Home--Go {
	   	text-align:center;
	   	span{
	   		color: white;
	   	}
	   }

   }

}
