page-home {

  .icon-t {
    position: absolute;
    left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .fa-google.icon-t {
    background: #b24028;
  }

  .fa-at.icon-t {
    background: #327ed8;
  }

  $colorPrimary:#e74c3c;

 .is__Home {
   background: #fff;
   box-shadow: inset 1px 1px 50px #e6e6e6;
   .is__Header {
     box-shadow: none!important;
     text-align: center;
     box-shadow: none;
     margin-top: 22%;
     text-align: center;
     h1 {
       color: #fdde00;
       font-size: 55px;
       font-weight: 700;
       font-family: 'Oswald', sans-serif;
     }
     p {
       color: white;
       font-weight: 400;
       font-size: 14px;
       margin: 0;
     }

     &:after {
       display: none!important;
     }

   }

   .is__Logo {
    text-align: center;
    background: white;
    width: 50%;
    margin: 3em auto 0 auto;
    padding: 1em;
   }

   .is__Socials {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     button {
       display: block;
       width: 90%;
			 margin: 0.8em auto;
       padding: 15px 0;
       line-height: 10px;
       margin-bottom: 10px;
       height: 50px;
     }
     button.google {
       background: #D34836;
       color: white;
     }
     button.white {
       background: #3298f9;
       color: white;
     }
     button.create {
       color: #fff;
       background: #7f8fa6;
     }
   }

 }

}
